<h2>商品一覧</h2>
 <table>
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <th><%= item.id %></th>
        <th>
          <%= link_to admin_item_path(admin.item.id) do %>
          <%= item.name %>
          <% end %>
        </th>
        <th><%= item.price %></th>
        <th><%= item.genre.id %></th>
        <!--Q：販売ステータスの表記の仕方--><!--わからないところ-->
        <th>
            <%=           %>
        </th>
      </tr>
      <% end %>
    </tbody>

    <!--ページネーション必要（３P毎表記）-->







 </table>