<h2>商品詳細</h2>

<!--商品画像-->


<!--商品詳細-->
<table>
  <tr>
    <th>商品名</th>
    <th><%= @item.name %></th>
    <th>商品説明</th>
    <th><%= @item.introduction %></th>
    <th>ジャンル</th>
    <th><%= @item.genre.id %></th>
    <th>税込価格(税抜価格) %></th>
    <th><%= @item.price %></th>
    <th>販売ステータス</th>
    <th></th>
  </tr>  
</table>


<div>
  <%= link_to "編集する"  edit_admin_item_path(@item.id) %>
</div>