<div class="container">
  <div class="row">
   <div class="col-3-md offset-1 mt-5">
     <h2 class="mb-4">管理者ログイン</h2>
    </div>
  </div>

    <%= form_with model: @admin, url: admin_session_path do |f| %>

    <table class="table table-borderless text-center">
      <div class="field">
        <tr>
          <td><%= f.label :"メールアドレス" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
          <td><%= f.label :"パスワード" %>
          <%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
      </div>

      <div class="actions">
        <td><%= f.submit "ログイン",class:"px-5 mt-4" %></td>
      </div>
    </table>
  <% end %>
