<h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h2>
<table class='table'>
	  <th>会員ID</th>
	  <th><%= @customer.id %></th>
	  <%= form_with model:@customers, local:true do |f| %>
        <tr class="form-group">
          <th><%= f.label :"氏名"%></th>
          <th><%= f.text_field :last_name, class: "form-control last_name" %></th>
          <th><%= f.text_field :first_name, class: "form-control first_name" %></th>
        </tr>
      <tr class="form-group">
        <th><%= f.label :"フリガナ"%></th>
        <th><%= f.text_field :last_name_kana, class: "form-control last_name_kana" %></th>
        <th><%= f.text_field :first_name_kana, class: "form-control first_name_kana" %></th>
      </tr>
      <tr class="form-group">
        <th><%= f.label :"郵便番号"%></th>
        <th><%= f.text_area :post_number, class: "form-control customer.post_number" %></th>
      </tr>
      <tr class="form-group">
        <th><%= f.label :"住所"%></th>
        <th><%= f.text_area :address, class: "form-control customer.address" %></th>
      </tr>
      <tr class="form-group">
        <th><%= f.label :"電話番号"%></th>
        <th><%= f.text_area :phone_number, class: "form-control customer.phone_number" %></th>
      </tr>
      <tr class="form-group">
        <th><%= f.label :"メールアドレス"%></th>
        <th><%= f.text_area :email, class: "form-control customer.email" %></th>
      </tr>
      <tr class="form-group">
        <th><%= f.label :"会員ステータス"%></th>
        <th><%= f.text_field :is_valid, class: "form-control customer.is_valid" %></th>
      </tr>
      <tr class="form-group">
        <th><%= f.submit "変更する", class: 'btn btn-success' %></th>
      </tr>
    <% end %>
</table>