<div class="container">
  <!--<div class="row">-->
  <!--  <div class="col-md-8 offset-2">-->
  <h3 class="my-4 mt-5">注文情報確認</h3>

  <div class="row">
    <div class = "col-md-8" >
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>

        <!-- ユーザーに確認してもらうための表示です -->
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <th>
                <%= image_tag cart_item.item.item_image, size: "80x60" %>
                <%= cart_item.item.name %>
              </th>
              <th><%= cart_item.item.with_tax_price.to_s(:delimited) %></th>
              <th>
                <%= cart_item.quantity %>
                </th>
              <th><%= cart_item.subtotal.to_s(:delimited) %></th>
            </tr>
              <% @sum += cart_item.subtotal %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class = "col-md-3">
      <table class="border table">
        <p class="text-center"><strong>請求情報</strong></p>
        <tr>
          <th class = "table-secondary">送料</th>
          <th>1,000</th>
        </tr>
        <tr>
          <th class = "table-secondary">合計金額</th>
          <th><%= @sum.to_s(:delimited) %> <!-- お買い物の合計金額 --></th>

        </tr>
        <tr>
          <th class = "table-secondary">請求金額</th>
          <th><%= @sum + 1000 %></th>
        </tr>
      </table>
    </div>



    <div class = "col-md-11" >
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>支払方法</th>
            <th></th>
            <th></th>
            <th><%= @order.payment_method %></th>
          </tr>
          <tr>
            <th></th>
            <th>お届け先</th>
            <th></th>
            <th></th>
            <th>
              〒<%= @order.post_number %>
              </br>
                <%= @order.address %>
              </br>
                <%= @order.name%>
            </th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="text-center mt-4">
    <!-- ユーザーには注文確定ボタンだけ表示します -->
    <%= form_with model: @order, url: orders_path, method: :post , local: true do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :post_number %>
      <%= f.hidden_field :total_payment, value: @sum + 1000 %>
      <%= f.submit "注文を確定する",class: "btn btn-primary p-3 mx-auto w-auto d-block" %>
    <% end %>
  </div>
</div>