<div class="container">
  <div class="row">
    <h4 class="p-3"><span class="col-md-3 bg-light text-center m-4">注文情報確認</span></h4>
  </div>
</div>

  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-6">
        <table class="table table-bordered">
      <table>
        <thead>
           <tr>
            <th class="table-light"><h5 class=p-2>商品名</h5></th>
            <th class="table-light"><h5 class=p-2>単価(税込)</h5></th>
            <th class="table-light"><h5 class=p-2>数量</h5></th>
            <th class="table-light"><h5 class=p-2>小計</h5></th>
          </tr>
        </thead>
          <% @cart_items.each do |cart_item| %>
        <tbody>
          <!-- ユーザーに確認してもらうための表示です -->
            <th><%= cart_item.item.name %></th><!-- 商品名 -->
            <th><%= (cart_item.item.with_tax_price).to_s(:delimited) %>　<!-- 金額 --></th>
            <th><%= cart_item.quantity %> <!-- 個数 --></th>
            <th><%= cart_item.subtotal.to_s(:delimited) %> <!-- 小計 --></th>
            <% @sum += cart_item.subtotal %>
        </tbody>
          <% end %>
      </table>
    </div>
  </div>
</div>
<div class="col-md-3">
  <table class="table table-bordered">
    <table>
      <tr>
        <td class="table-light"><h5 class=p-2>送料</h5></td>
        <td class="table-light"><h5 class=p-2>1000</h5></td>
      </tr>
      <tr>
        <td class="table-light"><h5 class=p-2>合計金額</h5></td>
        <th><%= @sum.to_s(:delimited) %> <!-- お買い物の合計金額 --></th>
      </tr>
      <tr>
        <td class="table-light"><h5 class=p-2>請求金額</h5></td>
        <th><%= @sum + 1000 %></th>
      </tr>
     </table>
  　</div>
  </div>


   <div class="container">
    <div class="row">
     <h5><span class="header">支払い方法</span></h5>
      <div class="col">
        <%= @order.payment_method %>
        </div>
    </div>

    <br>
    <div class="row">
     <h5><span class="header">お届け先</span></h5>
      <div class="col">
        〒<%= @order.post_number %></br>
        <%= @order.address %>
        <br>
        <%= @order.name%>
      </div>
     </div>


    <!-- ユーザーには注文確定ボタンだけ表示します -->
    <%= form_with model: @order, url: orders_path, method: :post , local: true do |f| %>
      <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-5">
      <%= f.hidden_field :name %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :total_payment, value: @sum + 1000 %>
      <%= f.submit "注文を確定する",class:'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>