<h1>注文履歴詳細</h1>
<table>
  <p>注文情報</p>
  <tr>
    <th>注文日</th>
    <th>配送先</th>
    <th>支払方法</th>
    <th>ステータス</th>
  </tr>
  <tr>
    <th><%= @order.created_at.strftime('%Y/%m/%d') %></th>
    <th>
      〒<%= @order.post_number %>
      <%= @order.address %>
      <%= @order.name %>
    </th>
    <th>
      <%= @order.payment_method %>
    </th>
    <th>
      <%= @order.order_status %>
    </th>
  </tr>
</table>
<table>
  <p>注文内容</p>
  <thead>
    <tr>
      <th>商品</th>
      <th>単価（税込）</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.each do |order|%>
    <tr>
      <td>
        <%= order.item.name%>
      </td>
      <td>
        <%= order.price %>
      </td>
      <td>
        <%= order.quantity%>
      </td>
      <td>
        <%= order.price * order.quantity %>
      </td>
    </tr>
    <% @sum += order.price * order.quantity %>
    <% end %>
  </tbody>
</table>
<table>
  <p>請求情報</p>
  <tr>
    <th>商品合計</th>
    <th>送料</th>
    <th>ご請求額</th>
  </tr>
  <tr>
    <th><%= @sum %></th>
    <th>1,000</th>
    <th><%= @sum + 1000%></th>
  </tr>
</table>
