<div class="container">
  <div class="row">
   <div class="col-3-md offset-1 mt-5">
     <h2 class="mb-4">ログイン</h2>
    </div>
  </div>

  <p class="text-center">会員の方はこちらからログイン</p>

    <%= form_with model: @customer, url: customer_session_path do |f| %>

    <table class="table table-borderless text-center">
      <div class="field">
        <tr>
          <td><%= f.label :"メールアドレス" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
          <td><%= f.label :"パスワード" %>
          <%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
      </div>

      <div class="actions">
        <td><%= f.submit "ログイン",class:"px-5 mt-4" %></td>
      </div>
    </table>
  <% end %>

     <div class="col-3-md offset-7">
      <h4>既に登録済みの方</h4>
        <div class="col-3-md offset-1">
          <%= link_to "こちら", new_registration_path(resource_name) %>から新規登録を行ってください。
      </div>
    </div>
  </div>

