<!--countメソッドの使い方-->
<h2>商品一覧(全#{@item.all.count}件)</h2>

<!--商品一覧-->
<% @items.each do |item| %>
<table>
  <tr>
    <th>
      <%= link_to item_path(item) do %>
      <%= image_tag item.get_item_image, size: "200x200" %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>
      <%= item.name %>
    </th>
  </tr>
  <tr>
    <th>
      <%= item.price %>
    </th>
  </tr>
<% end %>
</table>

<!--ページネーション加える-->
<%= paginate @items %>