<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <!--部分テンプレート-->
    <%= render "public/items/genre_search", genres: @genres %>
    </div>

  <div class="text-center">
<!--countメソッドの使い方-->
<h2>商品一覧(全<%= @items.all.count %>件)</h2>
<!--商品一覧-->
       <div class="text-center">
        <div class="col-10">
          <div class="row">
<% @items.each do |item| %>
<table>
  <tr>
    <th>
      <div class="float-sm-right">
      <div class="container">
       <div class="row">
      <div class="color">
        <div class="text-right">
      <%= link_to item_path(item) , class: "col-3 text-center text-dark text-nowrap mt-5" do %>
      <%= image_tag item.get_item_image, size: "200x200" %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>
      <%= item.name %>
    </th>
  </tr>
  <tr>
    <th>
      ¥<%= item.with_tax_price.to_s(:dalimited) %>
  </tr>
<% end %>
</table>

  </div>
   <div class="row">
      <div class="center-block mx-auto"><br><br>

<!--ページネーション加える-->
<%= paginate @items %>
    </div>
  </div>
</div>