<div class='container'>
  <div class ='row'>
    <div class ='col-md-3'>
      <!--部分テンプレート-->
      <%= render 'public/items/genre_search', genres: @genres %>
    </div>
    
       <div class="col-3 offset-2 mr-3 my-5">
      <!--画像-->
      <%= image_tag @item.get_item_image, size: "200x200" %>
      <thead>
        <tr>
          <th></th>

          <!--商品名-->
          <h2><%= @item.name %></h2>
          <%= @item.introduction %>
           <div class="font-weight-bold mt-3 text-nowrap">
          <h3>¥<%= @item.with_tax_price.to_s(:dalimited) %>(税込)</h3>
        </tr>
      </thead>
    <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
    
      <%= f.label "個数選択" , class: "mx-4 my-4"%>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <!--<= f.select :quantity, [['いち',1], ['に',2], ['さん',3] %>-->
      <!--<= f.select :quantity,*[1..3] %>-->
      <%= f.select :quantity, *[1..10] %>
      <!--カートに入れる-->
      <%= f.submit "カートに入れる", class: "btn btn-success" %>

    <% end %>
    </div>
  </div>
</div>

