<% if public_signe_in? %>
 <li>
   <%= link_to customers_mypage_path(current_user) do%>
      マイページ
   <% end %>
 </li>
 <li>
   <%= link_to items_path do%>
      商品一覧
   <% end %>
 </li>
 <li>
   <%= link_to  do%>
      カート
   <% end %>
 </li>
 <li>
   <%= link_to do%>
      ログアウト
   <% end %>
 </li>
<% elsif admin_sigin_in? %>
 <li>
   <%= link_to  do%>
      商品一覧
   <% end %>
 </li>
 <li>
   <%= link_to  do%>
      会員一覧
   <% end %>
 </li>
 <li>
   <%= link_to  do%>
      注文履歴一覧
   <% end %>
 </li>
 <li>
   <%= link_to  do%>
      ジャンル一覧
   <% end %>
 </li>
 <li>
   <%= link_to  do%>
      ログアウト
   <% end %>
 </li>
<% else %>
 <li>
   <%= link_to  do%>
      About
   <% end %>
 </li>
 <li>
   <%= link_to  do%>
      商品一覧
   <% end %>
 </li>
 <li>
   <%= link_to  do%>
      新規登録
   <% end %>
 </li>
 <li>
   <%= link_to  do%>
      ログイン
   <% end %>
 </li>
<% end %>